@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Rose:wght@300..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    background: #E8F1F2;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

    font-size: 20px;
    font-family: raleway;

    span>a>img{
        width: 200px;
    }
}

.active{
    background-color:#006494 ;
}

.mainindex{
    position: relative; /* Necessário para o posicionamento */
    height: 200vh; /* Altura da seção */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f8ff; /* Cor de fundo opcional */
    overflow: hidden; /* Garante que nada ultrapasse o limite */
}



.logofortificar{
    width: 10%;
    bottom: 0;
    left: 0;
}

.logoiconweb{
    width: 1%;
    bottom: 0;
    right: 0;
}