@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Rose:wght@300..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #E8F1F2;
}

header nav {
    background-color: #006494;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 0px 0px 0px 20px;
    border: 1px solid rgb(0, 0, 0);
}

header span a img {
    /*imagem da fortes na nav*/
    display: flex;
    width: 270px;
    border-radius: 5px;
    float: left;
}

header span a img:hover {
    width: 290px;
    transition: 0.3s ease;
}

header nav ul {
    /*botões da nav em forma de lista*/
    margin: auto;
    text-align: center;
    display: flex;
    gap: 2.5rem;
    transition: color 0.3s ease;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: raleway;
}

.butnavp {
    /*forma do botão dos links da nav pequenos*/
    margin: auto;
    background-color: #E8F1F2;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butnav {
    /*forma do botão dos links da nav grande*/
    margin: auto;
    background-color: #E8F1F2;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butnavpactive {
    /*forma do botão dos links da nav pequenos clicado*/
    margin: auto;
    background-color: #E8F1F2;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butnavactive {
    /*forma do botão dos links da nav grande clicado*/
    margin: auto;
    background-color: #E8F1F2;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butnavpactive:not(.butnavpactive:hover),
.butnavactive:not(.butnavactive:hover) {
    background-color: #007BFF
        /* Cor fixa do botão da página clicada*/
}

.butnavpactive:hover,
.butnavactive:hover {
    background-color: #E8F1F2
        /* Cor ao passar o mouse no botão fixo da página clicada*/
}

.butnavp:hover,
.butnav:hover {
    /*Cor ao passar o mouse no botão*/
    background-color: #007BFF;
}


/* PÁGINA LANDING PAGE (primeria tela) */
.mainindex {
    /*main container (pai)*/
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

/*estabilização das imagens logofortificar e logoweb 
para todas as páginas ficarem iguais*/
.logofortificar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.5;
    /* Reduz a opacidade */
    width: 200px;
    /* Ajusta o tamanho */
    z-index: 0;
    /* Garante que fique por trás do conteúdo */
}

.logofortificar img {
    width: 100%;
    /* Garante que a imagem siga o tamanho do container pai */
    height: auto;
    /* Mantém a proporção da imagem */
}

.logoiconweb {
    position: absolute;
    bottom: -150px;
    right: -100px;
    opacity: 0.5;
    /* Reduz a opacidade */
    width: 500px;
    /* Ajusta o tamanho */
    z-index: -1;
    /* Garante que fique por trás do conteúdo */
}

.logoiconweb img {
    width: 100%;
    /* Garante que a imagem siga o tamanho do container pai */
    height: auto;
    /* Mantém a proporção da imagem */
}

.indexconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70vh;
    width: 60%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    z-index: 1;
    /* Garante que fique acima das imagens */

    h1 {
        font-family: red rose;
        font-size: 2.5rem;
    }

    p {
        text-align: justify;
    }
}

.indexconteudo img {
    padding: 3rem;
    width: 30%;
}

/* FINALIZA a página Landing page (inicial) */


/* PÁGINA DE LOGIN */
.mainlogin {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.loginconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 80vh;
    width: 35%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 20px;
    z-index: 1;
    /* Garante que fique acima das imagens */

    h1 {
        font-family: red rose;
        font-size: 2.5rem;
    }
}

.inputemailsenha input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

/* Botões do login*/
.entrarbutton,
.cadastrobutton {
    background-color: #007BFF;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

/* FINALIZA a página Login */


/* PÁGINA DE CADASTRO*/
.maincadastro {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.cadastroconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 80vh;
    width: 60%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 20px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.cadastroconteudo2 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.ladoa input,
.ladob input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.cadastroconteudo a input {
    background-color: #007BFF;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

/* FINALIZA a página Cadastro */


/* PÁGINA FUNCIONÁRIO */
.mainfunc {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.funcconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 80vh;
    width: 35%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 20px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.inputfunc input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}


/* FINALIZA a página login do funcioário */


/* PÁGINA ESQUECI MINHA SENHA */
.mainesquecisenha {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.esquecisenhaconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 75vh;
    width: 35%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.inputrecuperarsenha input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.inputrecuperarsenha p {
    text-align: center;
    font-size: 14px;
}

.confirmarbutton {
    background-color: #007bff;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

/* FINALIZA a página Esqueci minha senha */


/* PÁGINA AUXÍLIOS */
.mainauxilio {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.auxiliosconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 130%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* Layout da página de auxílios */
.container {
    width: 825px;
    align-items: center;
    display: flex;
    margin: auto;
}

.item1 {
    width: 425px;
    justify-content: flex-start;
}

.item2 {
    width: 470px;
    justify-content: flex-end;
    padding: 1rem;
}

.item1-2 {
    width: 150px;
    height: 150px;
    justify-content: flex-start;
}

iframe {
    width: 825px;
    margin: auto;
    display: flex;
    transition: 0.3s ease-in-out;
}

/* FINALIZA a página Auxílios */


/* PÁGINA NOSSA EQUIPE */
.mainequipe {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.equipeconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 90%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* Layout da página dentro do conteúdo */
.item1-2 {
    width: 150px;
    height: 150px;
    justify-content: flex-start;
}

.item2-2 {
    width: 725px;
    justify-content: flex-start;
    text-align: justify;
    padding-left: 10px;
}

.item3-2 {
    width: 150px;
    height: 150px;
    justify-content: flex-end;
}

.item4-2 {
    width: 725px;
    justify-content: flex-start;
    text-align: justify;
    padding-right: 10px;
}

.item5-2 {
    width: 825px;
    margin: auto;
    display: flex;
    padding-top: 60px;
}

/* FINALIZA a página nossa equipe */


/* PÁGINA PROJETOS */
.mainprojeto {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.projetoconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* Layout da tela de projetos */
.item1-3 {
    width: 200px;
    height: 200px;
}

.item2-3 {
    width: 605px;
    justify-content: flex-start;
    text-align: justify;
    padding-left: 20px;
}

/* FINALIZA a página projetos */


/* PÁGINA USUÁRIO/CADASTRO */
.mainusuario {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.usuarioconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 60%;
    width: 65%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* Layout dos inputs da tela de cadastro do usuário */
.usuarioconteudo2 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.ladoausuario1 input {
    height: 30px;
    border-radius: 5px;
}

.ladobusuario1 input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

.localizacaoprojeto {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.nomecdp input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

.localizacaoprojeto1 input,
.localizacaoprojeto2 input {
    height: 30px;
    width: 190px;
    border-radius: 5px;
}

.buttenviarcad {
    background-color: #007BFF;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

/* FINALIZA a página USUÁRIO/CADASTRO */


/* PÁGINA USUÁRIO/HISTÓRICO */
.mainhistoricousu {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.historicousuconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 80%;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.dif {
    background-color: lightgray;
}

table {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    padding: 10px;
}

/* FINALIZA a página USUÁRIO/HISTÓRICO */


/* PÁGINA USUÁRIO/FINANCEIRO */
.mainusufinance {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.usuariofinaconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 60%;
    width: 55%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */

    input {
        margin: 2rem;
        background-color: #007BFF;
        width: 120px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
    }
}

.finance {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;

    img {
        width: 50px;
    }

    input {
        margin: 2rem;
        background-color: #007BFF;
        width: 120px;
        height: 30px;
        border-radius: 10px;
    }
}

/* FINALIZA a página USUÁRIO/FINANCEIRO */


/* PÁGINA PATROCINADORES */
.mainpatro {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.patroconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 60%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* FINALIZA a página PATROCINADORES */


/* PÁGINA AJUDA */
.mainajuda {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.ajudaconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 60%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.buscador input {
    width: 500px;
}

.containerajuda {
    display: flex;
}

.box-container {
    margin: auto;
    padding: 10px;
    height: 30vh;
    width: 45%;
    border: 1px solid black;
}

.box {
    border: 1px solid black;
}

/* FINALIZA a página AJUDA */


/* PÁGINA FALE CONOSCO */
.mainfale {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.faleconoscoconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 85%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.containerfale {
    display: flex;
}

.fale1,
.fale2,
.fale3,
.fale4,
.fale5{
    height: 60px;
    width: 200px;
border: 1px solid black;
margin: auto ;
border-radius: 10px;
}

.item3-4 {
    width: 640px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    display: inline-block;
}

.item4-4 {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin-left: 50px;
    margin-top: 100px;
}

.item4-4> ::placeholder {
    text-align: center;
}

/* FINALIZA a página FALE CONOSCO */


/* PÁGINA FUNC/ACOMPANHAMENTO */
.mainfuncacom {
    position: relative;
    display: flexbox;
    overflow: hidden;
}

.funconteudoacompanhamento {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 60%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

/* FINALIZA a página FUNC/ACOMPANHAMENTO */


/* PÁGINA FUNC/RELATÓRIO */
.mainrelatorio {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.relatorioconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 90%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */
}

.relatorioconteudo2 {
    display: flex;
    margin: auto;
}

.inforel {
    background-color: #E8F1F2;
    padding: 2rem;
    margin: auto;
    height: 75%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    border: 1px solid black;
    /* Garante que fique acima das imagens */
}

.cabecalho {
    display: flex;

    img {
        width: 160px;
    }
}

.cabecalho2 {
    margin: auto;
    display: block;
}

.ladoarelatorio {
    margin: auto;
}

.ladobrelatorio div {
    background-color: #E8F1F2;
    padding: 2rem;
    margin: auto;
    height: 75%;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    border: 1px solid black;
    /* Garante que fique acima das imagens */
}

/* FINALIZA a página FUNC/RELATÓRIO */


/* PÁGINA FUNC/SOLICITAÇÕES */
.mainsolicitacoes {
    position: relative;
    padding: 20px;
    display: flexbox;
    overflow: hidden;
}

.soliciconteudo {
    background-color: #E8F1F2;
    padding: 3rem;
    margin: auto;
    height: 70%;
    width: 60%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(217, 214, 214, 0.719);
    border-radius: 5px;
    font-family: raleway;
    font-size: 19px;
    z-index: 1;
    /* Garante que fique acima das imagens */

    input {
        width: 350px;
    }
}

button {
    width: 70px;
    height: 30px;
    border-radius: 8px;
}

.aprove {
    background-color: rgb(27, 152, 224);
}

/* FINALIZA a página FUNC/SOLICITAÇÕES */


footer {
    background-color: #006494;
    margin: auto;
    padding: 1rem;
    height: 10vh;
    text-align: center;
    font-family: red rose;
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width: 720px) {

    header nav {
        display: block;
        padding: 0;
        height: fit-content;
    }

    header span a img {
        /*imagem da fortes na nav*/
        display: block;
        width: 270px;
        border-radius: 5px;
        float: none;
    }

    header span a img:hover {
        width: 290px;
        transition: 0.3s ease;
    }

    header nav ul {
        /*botões da nav em forma de lista*/
        margin: 0;
        text-align: center;
        display: block;
        gap: 4rem;
        align-content: center;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li a {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .butnavp {
        /*forma do botão dos links da nav pequenos*/
        height: 40px;
        width: 70%;
        box-shadow: none;
    }

    .butnav {
        /*forma do botão dos links da nav grande*/
        height: 40px;
        width: 70%;
        box-shadow: none;
    }

    .butnavpactive {
        /*forma do botão dos links da nav pequenos clicado*/
        height: 40px;
        width: 70%;
        box-shadow: none;
    }

    .butnavactive {
        /*forma do botão dos links da nav grande clicado*/
        height: 40px;
        width: 70%;
        box-shadow: none;
    }

    /* PÁGINA LANDING PAGE (primeria tela) */
    .mainindex {
        /*main container (pai)*/
        position: relative;
        padding: 0;
        display: flexbox;
        overflow: hidden;
    }

    /*estabilização das imagens logofortificar e logoweb 
    para todas as páginas ficarem iguais*/
    .logofortificar {
        bottom: 20px;
        left: 8px;
        width: 80px;
        z-index: -1;
        /* Ajusta o tamanho */
    }

    .logoiconweb {
        bottom: -60px;
        right: -70px;
        width: 200px;
        /* Ajusta o tamanho */
    }

    .indexconteudo {
        background-color: #E8F1F2;
        padding: 1.5rem;
        height: 60vh;
        width: 80%;
        text-align: center;

        h1 {
            font-size: 1.5rem;
        }

        p {
            text-align: center;
        }
    }

    .indexconteudo img {
        width: 90%;
    }

    /* FINALIZA a página Landing page (inicial) */

    /* PÁGINA DE LOGIN */
    .mainlogin {
        position: relative;
        padding: 0;
    }

    .loginconteudo {
        padding: 1.5rem;
        height: 50vh;
        width: 80%;
        text-align: center;
        font-size: 15px;

        h1 {
            font-size: 1.5rem;
        }
    }

    .inputemailsenha input {
        height: 25px;
        width: 230px;
    }

    /* FINALIZA a página Login */

    /* PÁGINA DE CADASTRO*/
    .maincadastro {
        padding: 0;
    }

    .cadastroconteudo {
        padding: 1.5rem;
        height: 85vh;
        width: 80%;
        font-size: 15px;
    }

    .cadastroconteudo2 {
        display: block;
        font-size: 15px;
    }

    .ladoa input,
    .ladob input {
        height: 25px;
        width: 250px;
    }

    /* FINALIZA a página Cadastro */


    /* PÁGINA FUNCIONÁRIO */
    .mainfunc {
        padding: 0;
    }

    .funcconteudo {
        padding: 1.5rem;
        height: 50vh;
        width: 80%;
        font-size: 15px;
    }

    .inputfunc input {
        width: 230px;
    }

    /* FINALIZA a página login do funcioário */


    /* PÁGINA ESQUECI MINHA SENHA */
    .mainesquecisenha {
        padding: 0;
    }

    .esquecisenhaconteudo {
        padding: 1.5rem;
        height: 60vh;
        width: 80%;
        font-size: 15px;
    }

    .inputrecuperarsenha input {
        width: 230px;
    }

    .inputrecuperarsenha p {
        font-size: 12px;
    }

    /* FINALIZA a página Esqueci minha senha */


    /* PÁGINA AUXÍLIOS */
    .mainauxilio {
        padding: 0;
        display: block;
    }

    .auxiliosconteudo {
        padding: 1.5rem;
        height: 130%;
        width: 80%;
        font-size: 15px;
    }

    /* Layout da página de auxílios */
    .container {
        width: 20px;
        align-items: center;
        display: block;
        margin: 0;
    }

    .item1 {
        width: 225px;
        justify-content: flex-start;
    }

    .item2 {
        width: 260px;
        justify-content: flex-end;
        padding: 1rem;
    }

    .item1-2 {
        width: 90px;
        height: 200px;
        justify-content: flex-start;
    }

    iframe {
        height: 225px;
        width: 350px;
        margin: auto;
        display: flex;
    }

    /* FINALIZA a página Auxílios */


    /* PÁGINA NOSSA EQUIPE */
    .mainequipe {
        padding: 0;
        display: block;
    }

    .equipeconteudo {
        padding: 1.5rem;
        height: 90%;
        width: 80%;
        font-size: 15px;

        p img {
            width: 340px;
        }
    }

    /* Layout da página dentro do conteúdo */
    .item1-2 {
        width: 150px;
        height: 200px;
    }

    .item2-2 {
        width: 260px;
    }

    .item3-2 {
        width: 100px;
        height: 150px;
        justify-content: flex-end;
    }

    .item4-2 {
        width: 260px;
    }

    .item5-2 {
        width: 20px;
        margin: 0;
        display: block;
        padding-top: 60px;
    }

    /* FINALIZA a página nossa equipe */


    /* PÁGINA PROJETOS */
    .mainprojeto {
        padding: 0;
    }

    .projetoconteudo {
        padding: 1.5rem;
        height: 100%;
        width: 80%;
        font-size: 15px;
    }

    /* Layout da tela de projetos */
    .item1-3 {
        width: 200px;
        height: 250px;
    }

    .item2-3 {
        width: 250px;
        padding-left: 0;
    }

    /* FINALIZA a página projetos */


    /* PÁGINA USUÁRIO/CADASTRO */
    .mainusuario {
        padding: 0;
    }

    .usuarioconteudo {
        padding: 1.5rem;
        height: 60%;
        width: 80%;
        font-size: 15px;
    }

    /* Layout dos inputs da tela de cadastro do usuário */
    .usuarioconteudo2 {
        display: block;
        font-size: 15px;
    }

    .ladoausuario1 input {
        height: 30px;
        border-radius: 5px;
    }

    .ladobusuario1 input {
        width: 250px;
    }

    .localizacaoprojeto {
        display: block;
        font-size: 15px;
    }

    .nomecdp input {
        width: 250px;
    }

    .localizacaoprojeto1 input,
    .localizacaoprojeto2 input {
        width: 250px;
    }

    /* PÁGINA USUÁRIO/HISTÓRICO */
    .mainhistoricousu {
        padding: 0;
    }

    .historicousuconteudo {
        padding: 1.5rem;
        height: 650px;
        width: 80%;
        font-size: 15px;

        input {
            width: 280px;
        }
    }

    /* FINALIZA a página USUÁRIO/HISTÓRICO */


    /* PÁGINA USUÁRIO/FINANCEIRO */
    .mainusufinance {
        padding: 0;
    }

    .usuariofinaconteudo {
        padding: 1.5rem;
        height: 60%;
        width: 80%;
        font-size: 15px;
    }

    .finance {
        padding: 1.5rem;
        width: 90%;
        font-size: 15px;
    }

    /* FINALIZA a página USUÁRIO/FINANCEIRO */


    /* PÁGINA PATROCINADORES */
    .mainpatro {
        padding: 0;
    }

    .patroconteudo {
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;
    }

    /* FINALIZA a página PATROCINADORES */

    /* PÁGINA FUNC/ACOMPANHAMENTO */
    .mainfuncacom {
        padding: 0;
    }

    .funconteudoacompanhamento {
        padding: 1.5rem;
        width: 80%;
        text-align: center;
        font-size: 15px;

        input {
            width: 280px;
        }
    }

    /* FINALIZA a página FUNC/ACOMPANHAMENTO */

    /* PÁGINA FUNC/RELATÓRIO */
    .mainrelatorio {
        padding: 0;
    }

    .relatorioconteudo {
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;
    }

    .relatorioconteudo2 {
        display: block;
    }

    .inforel {
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;
    }

    .cabecalho {
        display: flex;
    }

    .cabecalho2 {
        margin: auto;
        display: block;
    }

    .ladobrelatorio div {
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;
    }

    /* FINALIZA a página FUNC/RELATÓRIO */

    /* PÁGINA FUNC/SOLICITAÇÕES */
    .mainsolicitacoes {
        padding: 0;
    }

    .soliciconteudo {
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;
    }

    button {
        width: 70px;
        height: 30px;
        border-radius: 8px;
    }

    /* FINALIZA a página FUNC/SOLICITAÇÕES */


    /* PÁGINA AJUDA */
    .mainajuda {
        padding: 0;
    }

    .ajudaconteudo {
        background-color: #E8F1F2;
        padding: 1.5rem;
        width: 80%;
        font-size: 15px;

        .buscador input {
            width: 270px;
        }
    }

    footer {
        height: 60px;
        font-size: 12px;
    }
}